<h2>Celebrities</h2>

{{#each allTheCelebritiesFromDB}}
  <div>
    <a href="/celebrities/{{this._id}}">{{this.name}}</a>
  </div>
{{/each}}
<br>
<br>
<div>
  <a href="/celebrities/new">+ Add new celebrity</a>
</div>